<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <ngx-lazy-images
    [src]="'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=='"
    [alt]="'Angular Logo'"
  ></ngx-lazy-images>
</div>

<div class="container">
  <p>SCROLL DOWN FOR IMAGE</p>
  <p>some content 15</p>
  <p>some content 14</p>
  <p>some content 13</p>
  <p>some content 12</p>
  <p>some content 11</p>
  <p>some content 10</p>
  <p>some content 9</p>
  <p>some content 8</p>
  <p>some content 7</p>
  <p>some content 6</p>
  <p>some content 5</p>
  <p>some content 4</p>
  <p>some content 3</p>
  <p>some content 2</p>
  <p>some content 1</p>
  <ngx-lazy-images
    [src]="'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=='"
    [alt]="'Angular Logo'"
    [config]="config"
    [placeholder]="placeholderOne"
  ></ngx-lazy-images>
  <p>SCROLL DOWN FOR NEXT IMAGE</p>
  <p>some content 15</p>
  <p>some content 14</p>
  <p>some content 13</p>
  <p>some content 12</p>
  <p>some content 11</p>
  <p>some content 10</p>
  <p>some content 9</p>
  <p>some content 8</p>
  <p>some content 7</p>
  <p>some content 6</p>
  <p>some content 5</p>
  <p>some content 4</p>
  <p>some content 3</p>
  <p>some content 2</p>
  <p>some content 1</p>
  <ngx-lazy-images
    [src]="'https://via.placeholder.com/300x300'"
    [alt]="'300X300'"
    [config]="config"
    [height]="300"
    [width]="300"
    [placeholder]="placeHolderTwo"
  ></ngx-lazy-images>
  <p>SCROLL DOWN FOR NEXT IMAGE</p>
  <p>some content 15</p>
  <p>some content 14</p>
  <p>some content 13</p>
  <p>some content 12</p>
  <p>some content 11</p>
  <p>some content 10</p>
  <p>some content 9</p>
  <p>some content 8</p>
  <p>some content 7</p>
  <p>some content 6</p>
  <p>some content 5</p>
  <p>some content 4</p>
  <p>some content 3</p>
  <p>some content 2</p>
  <p>some content 1</p>
  <ngx-lazy-images
    [src]="'https://via.placeholder.com/400x400'"
    [config]="config"
    [alt]="'400x400'"
    [height]="400"
    [width]="400"
  ></ngx-lazy-images>
</div>

<router-outlet></router-outlet>
